<svg xmlns="http://www.w3.org/2000/svg" hidden="" style="display:none" width="0" height="0">
  <defs>
    <symbol id="icon-search" viewBox="0 0 54 54">
      <path fill="currentColor" d="M34.3,40.6 C30.9,42.8 26.9,44.1 22.5,44.1 C10.6,44.1 1,34.5 1,22.6 C1,10.7 10.6,1 22.5,1 C34.4,1 44,10.7 44,22.6 C44,26.7 42.8,30.6 40.8,33.9 L53.2,46.3 C53.9,47 53.3,48.6 52,49.9 L50.2,51.7 C48.9,53.1 47.3,53.6 46.6,53 L34.3,40.6 Z M36.9,22.6 C36.9,14.6 30.4,8.2 22.5,8.2 C14.6,8.2 8.1,14.6 8.1,22.6 C8.1,30.5 14.6,37 22.5,37 C30.4,37 36.9,30.5 36.9,22.6 L36.9,22.6 L36.9,22.6 Z"></path>
    </symbol>
    <symbol id="icon-home" viewBox="0 0 44 40">
      <path fill="currentColor" d="M44,22 L39,22 L39,40 L27,40 L27,30 L17,30 L17,40 L5,40 L5,22 L0,22 L22,0 L44,22 Z"></path>
    </symbol>
  </defs>
</svg>

<nav class="global">
  <ul class="menu">
    <li class="home"><a href="/" title="Home"><svg width="17" height="16"><title>Home</title><use xlink:href="#icon-home"></use></svg></a></li>
    <li class="cat"><a href="/articles/">Articles</a></li>
    <li class="cat"><a href="/topics/">Topics</a></li>
    <li class="search"><a href="/search/" title="Search"><svg height="16" width="16"><title>Search</title><use xlink:href="#icon-search"></use></svg></a></li>
  </ul>
</nav>
