/* Webfont: MinionPro-Regular */@font-face {
    font-family: 'MinionPro';
    src: url('MinionPro-Regular.eot'); /* IE9 Compat Modes */
    src: url('MinionPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MinionPro-Regular.woff') format('woff'), /* Modern Browsers */
         url('MinionPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('MinionPro-Regular.svg#MinionPro-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

