<!DOCTYPE html>
<html lang="en" class="articles article">
{% include head.html %}
<body style="zoom: 1;">
{% include globalnav.html %}

<div class="container">

  <article class="pcontent justify">
    <header>
      <h1>{{ page.title }}</h1>
      <p><time datetime="{{ page.date }}" lang="en">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    </header>
    {% if page.banner %}
    <div class="full">
      <img src="/images/{{ page.banner }}">
    </div>
    {% endif %}
    {{ content }}
  </article>

</div>
</html>
